1. Create ThingIFAPI

```java
{{.thingIFAPI_ios}}
```

2. Execute Onboard

```java
{{.onboard_ios}}
```

3. Update thing type

```java
{{.updateThingType_ios}}
```

4. Update firmware version

```java
{{.updateFirmwareVersion_ios}}
```

5. Command Operations
  - Post new Command (create alias action)

```java
{{.postNewCommand_ios}}
```

  - get Command (handle action result)

```java
{{.getCommand_ios}}
```

6. Trigger Operations
  - post command trigger(state predicate)

```java
{{.postNewTrigger_ios}}
```

  - patch command trigger(state predicate)

```java
{{.patchTrigger_ios}}
```

7. Query thing states
  - ungrouped query

```java
{{.ungroupedQuery_ios}}
```

  - grouped query

```java
{{.groupedQuery_ios}}
```

  - aggregate

```java
{{.aggregate_ios}}
```


