1. Create ThingIFAPI

```swift
{{.thingIFAPI_ios}}
```

2. Execute Onboard

```swift
{{.onboard_ios}}
```

3. Update thing type

```swift
{{.updateThingType_ios}}
```

4. Update firmware version

```swift
{{.updateFirmwareVersion_ios}}
```

5. Command Operations
  - Post new Command (create alias action)

```swift
{{.postNewCommand_ios}}
```

  - get Command (handle action result)

```swift
{{.getCommand_ios}}
```

6. Trigger Operations
  - post command trigger(state predicate)

```swift
{{.postNewTrigger_ios}}
```

  - patch command trigger(state predicate)

```swift
{{.patchTrigger_ios}}
```

7. Query thing states
  - ungrouped query

```swift
{{.ungroupedQuery_ios}}
```

  - grouped query

```swift
{{.groupedQuery_ios}}
```

  - aggregate

```swift
{{.aggregate_ios}}
```


