1. Create ThingIFAPI(especially for Android)

{% tabcontrol %}

{% tabpage TypeScript %}
{% highlight typescript %}
{{.thingIFAPI_ts}}
{% endhighlight %}
{% endtabpage %}

{% tabpage JavaScript %}
{% highlight javascript %}
{{.thingIFAPI_js}}
{% endhighlight %}
{% endtabpage %}

{% endtabcontrol %}

2. Execute Onboard

{% tabcontrol %}

{% tabpage TypeScript %}
{% highlight typescript %}
{{.onboard_ts}}
{% endhighlight %}
{% endtabpage %}

{% tabpage JavaScript %}
{% highlight javascript %}
{{.onboard_js}}
{% endhighlight %}
{% endtabpage %}

{% endtabcontrol %}

3. Update thing type

{% tabcontrol %}

{% tabpage TypeScript %}
{% highlight typescript %}
{{.updateThingType_ts}}
{% endhighlight %}
{% endtabpage %}

{% tabpage JavaScript %}
{% highlight javascript %}
{{.updateThingType_js}}
{% endhighlight %}
{% endtabpage %}

{% endtabcontrol %}

4. Update firmware version

{% tabcontrol %}

{% tabpage TypeScript %}
{% highlight typescript %}
{{.updateFirmwareVersion_ts}}
{% endhighlight %}
{% endtabpage %}

{% tabpage JavaScript %}
{% highlight javascript %}
{{.updateFirmwareVersion_js}}
{% endhighlight %}
{% endtabpage %}

{% endtabcontrol %}

5. Command Operations
  - Post new Command (create alias action)

{% tabcontrol %}

{% tabpage TypeScript %}
{% highlight typescript %}
{{.postNewCommand_ts}}
{% endhighlight %}
{% endtabpage %}

{% tabpage JavaScript %}
{% highlight javascript %}
{{.postNewCommand_js}}
{% endhighlight %}
{% endtabpage %}

{% endtabcontrol %}

  - get Command (handle action result)

{% tabcontrol %}

{% tabpage TypeScript %}
{% highlight typescript %}
{{.getCommand_ts}}
{% endhighlight %}
{% endtabpage %}

{% tabpage JavaScript %}
{% highlight javascript %}
{{.getCommand_js}}
{% endhighlight %}
{% endtabpage %}

{% endtabcontrol %}

6. Trigger Operations
  - post command trigger(state predicate)

{% tabcontrol %}

{% tabpage TypeScript %}
{% highlight typescript %}
{{.postNewTrigger_ts}}
{% endhighlight %}
{% endtabpage %}

{% tabpage JavaScript %}
{% highlight javascript %}
{{.postNewTrigger_js}}
{% endhighlight %}
{% endtabpage %}

{% endtabcontrol %}

  - patch command trigger(state predicate)

{% tabcontrol %}

{% tabpage TypeScript %}
{% highlight typescript %}
{{.patchTrigger_ts}}
{% endhighlight %}
{% endtabpage %}

{% tabpage JavaScript %}
{% highlight javascript %}
{{.patchTrigger_js}}
{% endhighlight %}
{% endtabpage %}

{% endtabcontrol %}

7. Query thing states
  - ungrouped query

{% tabcontrol %}

{% tabpage TypeScript %}
{% highlight typescript %}
{{.ungroupedQuery_ts}}
{% endhighlight %}
{% endtabpage %}

{% tabpage JavaScript %}
{% highlight javascript %}
{{.ungroupedQuery_js}}
{% endhighlight %}
{% endtabpage %}

{% endtabcontrol %}

  - grouped query

{% tabcontrol %}

{% tabpage TypeScript %}
{% highlight typescript %}
{{.groupedQuery_ts}}
{% endhighlight %}
{% endtabpage %}

{% tabpage JavaScript %}
{% highlight javascript %}
{{.groupedQuery_js}}
{% endhighlight %}
{% endtabpage %}

{% endtabcontrol %}

  - aggregate

{% tabcontrol %}

{% tabpage TypeScript %}
{% highlight typescript %}
{{.aggregate_ts}}
{% endhighlight %}
{% endtabpage %}

{% tabpage JavaScript %}
{% highlight javascript %}
{{.aggregate_js}}
{% endhighlight %}
{% endtabpage %}

{% endtabcontrol %}

